*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
   height: 110%;
}
header, footer{
    width: 100%;
    height: 15vh;
    background-color: rgb(146, 48, 95);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.esquerda{
   display: flex;
   align-items: center;
}

.direita{
   display: flex;
   align-items: center;
}
.container{
    width: 100%;
    min-height: 80vh;
    padding-top: 10vh;
    background-color: rgb(203, 122, 145);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

table, thead, tbody{
    width: 80%;
}
 tr, li{
    width: 100%;
    min-height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(0,0,0);
 }

 th, td{
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
 }

 .btn{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    font-weight: 600;
 }
 
 .btn:hover{
    text-decoration: none;
    background-color: rgb(173, 66, 116);
    height: 100%;
 }

 .btnv{
    text-decoration: none;
    background-color: rgba(230, 9, 9, 0.6);
    color: white;
    margin: 2px;
    padding: 2px;
    border-radius: 5px;
 }
 
 .btnv:hover{
    text-decoration: none;
    background-color: rgb(179, 11, 56);
    color: white;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
    border: 2px solid white;
 }
 
 ul {
    list-style: none;
 }

 form{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 form>p{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
 }
 
 .logo{
    width: 20vw;
    height: 10vh;
 }

 .btnacesso{
    height: 100%;
    display: flex;
    align-items: center;
 }

 .menu {
   display: flex;
   gap: 1rem;
   justify-content: center;
   align-items: center;
}


.menu-toggle {
   display: none;
   cursor: pointer;
   font-size: 1.5rem;
   color: white;
}


#menu-toggle {
   display: none;
}


@media (max-width: 768px) {
   .menu {
       display: none; 
       flex-direction: column;
       position: absolute;
       top: 10vh; 
       left: 0;
       background-color: rgb(145, 13, 85);
       width: 100%;
       padding: 1rem 0;
   }

   .menu a {
       padding: 1rem;
       text-align: center;
       width: 100%;
       border-top: 1px solid white;
   }

   .menu a:last-child {
       border-bottom: 1px solid white;
   }

   .menu-toggle {
       display: block; 
   }

   #menu-toggle:checked ~ .menu {
       display: flex;
   }
}

@media (max-width: 600px) {
   table {
       font-size: 14px;
   }
   th, td {
       padding: 6px;
   }
   .acao{
       display: flex;
       flex-direction: column;
   }
}



